.image-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-item {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transform: scaleX(1);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.image-item.mirror {
  transform: scaleX(-1);
}

.image-item.selected {
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.control-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.control-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}


.camera-view {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.camera-view.mirror {
  transform: scaleX(-1);
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
}

.qr-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.qr-code-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.qr-instruction {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
  display: flex;
  align-items: center;
  gap: 8px;
}
